<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<link rel="stylesheet" th:href="@{/static/login.css}">


<body>
 
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
		  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo.png}" class="d-inline-block align-top" alt="" style="width: 48%">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">

    <ul class="navbar-nav ml-auto">
             <li class="nav-item" id="signup-btn">
        <a class="btn btn-primary" th:href="@{/site/sign-up}">Sign up</a>
      </li>
    </ul>
 
  </div>
</nav>


<div class="container">

<div class="row justify-content-center">
<div class="col-6">
	
	<div class="card">
  	<div class="card-header">
    	Login
  	</div>
  	<div class="card-body">
 <form class="form" id="login-form" method="POST" th:action="@{/session/login}">
    <div class="form-group">
        <label for="email" class="col-sm-10 col-form-label">Email</label>
          <div class="col-sm-10" id="em">
            <input type="text" class="form-control" name="email" id="email" maxlength="500" placeholder="enter email">
            <i class='bx bx-envelope position-absolute'></i>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 120px;">
          <label for="password" class="col-sm-10 col-form-label" style="top: 50px;">Password</label>
          <div class="col-sm-10" id="pd" style="top: 50px;">
            <input type="password" class="form-control" name="password" id="password" maxlength="500" placeholder="password">
                        <i class="bx bx-hide show-hide position-absolute"></i>
          </div>
        </div>
      <div class="text-center">
      <button type="submit" class="btn btn-primary" id="loginbtn" style="margin-right: 10px">Login</button>
    </div>
    </form>
	</div>
	<div class="card-footer text-danger">
		[[${info.getMessage()}]]
	</div>
	
	</div>
	
	

</div> <!-- Col -->
</div> <!-- Row -->

</div> <!-- Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

<script type="text/javascript">


</script>

<script th:src="@{/static/login.js}"/></script>

</html>
