<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>
<link rel="stylesheet" th:ref="@{/static/employee.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<div class="container">

<h3>Admin > Users</h3>

<div class="row">
	&nbsp;
</div>
 <!-- Top row with form-->
 <div class="row">
	 <div class="col-12">
			<form class="form-inline" id="user-form">
			  <div class="form-group">
			    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="email" id="inputEmail" placeholder="enter email">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="password" id="inputPassword" placeholder="enter password">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputRole" class="col-sm-2 col-form-label">Role</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="role" id="inputRole" placeholder="enter role">
			    </div>
			  </div>
			  <button type="button" class="btn btn-primary" id="add-user">Add</button>
			  &nbsp;
			  <button type="button" class="btn btn-primary" id="refresh-data">Refresh</button>
			</form>
	 </div>	
</div> 


<!-- Blank Row -->
<div class="row">
	&nbsp;
</div>
<div class="row">

 <!-- Table -->
 <div class="col-12">
	<table class="content-table" id="user-table">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Email</th>
	      <th scope="col">Role</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>1</td>
	      <td>Romil Jain</td>
	      <td>role1</td>
	      <td>Edit | Delete</td>
	    </tr>
	    <tr>
	      <td>2</td>
	      <td>Rajul Jain</td>
	      <td>role2</td>
	      <td>Edit | Delete</td>
	    </tr>
	    <tr>
	      <td>3</td>
	      <td>Anaisha Jain</td>
	      <td>role3</td>
	      <td>Edit | Delete</td>
	    </tr>
	  </tbody>
	</table>

</div>
</div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/user.js}"/></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>

</body>	

</html>